@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import "tailwindcss";

@theme {
  --font-heading: 'Sora', sans-serif;
  --font-body: 'Satoshi', sans-serif;
  
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-800: #075985;
  --color-primary-900: #0c4a6e;
}

body {
  font-family: var(--font-body);
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
